{% set _lastPage = paginator.lastPage %}

{% if paginator.lastPage > 1 %}
    
<div class="pagination" style="text-align: center">
            <a href="#">&laquo;</a>
            {% for i in 1..paginator.lastPage %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endfor %}
            <a href="#">&raquo;</a>
</div>
{% endif %}

<style>
    .pagination {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

    .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 5px;
    }
</style>